@page "/role-binding"

@using Microsoft.AspNetCore.SignalR.Client

<input placeholder="Namespace" @bind="_namespace" />

<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var roleBinding in roleBindings)
        {
            <tr>
                <td>
                    @roleBinding
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IList<string> roleBindings = new List<string>();
    private HubConnection connection;
    private string _namespace = "default";

    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
           .WithUrl("https://localhost:5001/kuberneteshub")
           .WithAutomaticReconnect()
           .Build();

        connection.On<string>("NotifyNamespacedRoleBindingAddEvent", NotifyNamespacedRoleBindingAddEvent);
        connection.On<string>("NotifyNamespacedRoleBindingDeleteEvent", NotifyNamespacedRoleBindingDeleteEvent);
        await connection.StartAsync();

        await connection.SendAsync("GetNamespacedRoleBinding", _namespace);
    }

    Task NotifyNamespacedRoleBindingAddEvent(string roleBinding)
    {
        roleBindings.Add(roleBinding);
        StateHasChanged();
        return Task.CompletedTask;
    }


    Task NotifyNamespacedRoleBindingDeleteEvent(string roleBinding)
    {
        roleBindings.Remove(roleBinding);
        StateHasChanged();
        return Task.CompletedTask;
    }
}
