@page "/service-account"

@using Microsoft.AspNetCore.SignalR.Client

<input placeholder="Namespace" @bind="_namespace" />

<table class="table">
    <thead>
        <tr>
            <th>Service Account Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serviceAccount in serviceAccounts)
        {
            <tr>
                <td>
                    @serviceAccount
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IList<string> serviceAccounts = new List<string>();
    private HubConnection connection;
    private string _namespace = "default";

    protected override async Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
           .WithUrl("https://localhost:5001/kuberneteshub")
           .WithAutomaticReconnect()
           .Build();

        connection.On<string>("NotifyNamespacedServiceAccountAddEvent", NotifyNamespacedServiceAccountAddEvent);
        connection.On<string>("NotifyNamespacedServiceAccountDeleteEvent", NotifyNamespacedServiceAccountDeleteEvent);
        await connection.StartAsync();

        await connection.SendAsync("GetNamespacedServiceAccount", _namespace);
    }

    Task NotifyNamespacedServiceAccountAddEvent(string role)
    {
        serviceAccounts.Add(role);
        StateHasChanged();
        return Task.CompletedTask;
    }


    Task NotifyNamespacedServiceAccountDeleteEvent(string role)
    {
        serviceAccounts.Remove(role);
        StateHasChanged();
        return Task.CompletedTask;
    }
}
